[Unit]
Description=Javascript Voting Application API Service
After=network.target

[Service]
Environment=PORT=8080
Environment=MONGO_CONNECTION_STRING=mongodb://MongoDb-vm:27017/javascript-framework-ratings
Environment=LISTEN_ON: 0.0.0.0
Type=simple
User=jva-user
ExecStart=/usr/bin/node /app/index.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target